# Configurações do Banco de Dados
DB_SERVER=nome_do_servidor_somee
DB_DATABASE=nome_do_banco
DB_USERNAME=usuario_banco
DB_PASSWORD=sua_senha_secreta

# Configurações do Flask
FLASK_SECRET_KEY=sua_chave_flask
FLASK_ENV=development